pipeline/integration_runtime.json
{
	"name": "integration_runtime",
	"properties": {
		"activities": [
			{
				"name": "AzureSqlCoptDataLake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_cdc",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Current",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.Schema}.@{pipeline().parameters.Table} \nWHERE @{pipeline().parameters.CDC_Column} > '@{activity('Lookup_cdc').output.value[0].cdc}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Azure_Sql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sink_Parquet_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"conatiner": "bronze",
							"folder": "users",
							"file": {
								"value": "@concat(pipeline().parameters.Table,'_',variables('Current'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup_cdc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "json_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"Conatiner": "bronze",
							"Folder": "cdc",
							"File": "cdc.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Current",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Current",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "AzureSqlCoptDataLake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"ifTrueActivities": [
						{
							"name": "max_cdc_copy1",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "Azure_Sql",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "SELECT MAX(@{pipeline().parameters.CDC_Column}) AS cdc\nFROM @{pipeline().parameters.Schema}.@{pipeline().parameters.Table}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Update_Last_CdC",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "max_cdc_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "cdc",
											"value": {
												"value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Empty_json",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": "cdc",
										"file": "empty.json"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "json_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"Conatiner": "bronze",
										"Folder": "cdc",
										"File": "cdc.json"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Schema": {
				"type": "string"
			},
			"Table": {
				"type": "string"
			},
			"CDC_Column": {
				"type": "string"
			}
		},
		"variables": {
			"Current": {
				"type": "String"
			}
		},
		"annotations": []
	}
}